<hello framework_name="{{ framework_name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<p class="comp-separator">---------------</p>
<app-click></app-click>

<p class="comp-separator">---------------</p>
<app-input></app-input>

<p class="comp-separator">---------------</p>
<app-child><p>This is a child component</p></app-child>

<p class="comp-separator">---------------</p>
<app-auth [userName]="name"
  [userAge] = "age">
</app-auth>
<span>Set Age: </span><input id="age_change" type="number" [(ngModel)]="age"/>

<p class="comp-separator">---------------</p>
<p>Clicks count: {{ clicks }}</p>
<app-change (onChanged)="onChanged($event)" [(userName)]="name"></app-change>
<div>Choosed name: {{name}}</div>

<p class="comp-separator">---------------</p>