<hello framework_name="{{ framework_name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<p class="comp-separator">---------------</p>
<app-click></app-click>

<p class="comp-separator">---------------</p>
<app-input></app-input>

<p class="comp-separator">---------------</p>
<app-child><p>This is a child component</p></app-child>

<p class="comp-separator">---------------</p>
<app-auth [userName]="name"
          [userAge] = "age">
</app-auth>
<input type="number" [(ngModel)]="age"/>

<p class="comp-separator">---------------</p>
<app-change></app-change>